<a href="https://colab.research.google.com/github/lizbeth-cortes/Data_science/blob/main/M1_S3_Prework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MAP

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9]

In [ ]:
def multiplicar_por_dos (num):
  resultado = num *2
  return resultado

In [ ]:
#Lo que hace la función map es recibir
#una función y una lista
# y aplica la función a lista elemento por elemento
#regresa una nueva lista que contiene los elementos
# de la lista anterior
map(multiplicar_por_dos,numeros)

In [ ]:
list(map(multiplicar_por_dos,numeros))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros_por_dos = list(map(multiplicar_por_dos,numeros))
numeros_por_dos

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
def si_non_regresar_0(num):
  if num % 2 == 0:
    return num
  else:
    return 0

In [ ]:
numeros = [6,78,3,89,5,63,42,8,76,1,245,9,877,465,34,77,80]
numeros_non_cero = list(map(si_non_regresar_0,numeros))
numeros_non_cero

[6, 78, 0, 0, 0, 0, 42, 8, 76, 0, 0, 0, 0, 0, 34, 0, 80]

In [ ]:
def formato_de_dinero(num):
  formateado = f'${num} MXN'
  return formateado

In [ ]:
numeros = [6,78,3,89,5,63,42,8,76]
numeros_formato_dinero = list(map(formato_de_dinero,numeros))
numeros_formato_dinero

['$6 MXN',
 '$78 MXN',
 '$3 MXN',
 '$89 MXN',
 '$5 MXN',
 '$63 MXN',
 '$42 MXN',
 '$8 MXN',
 '$76 MXN']

#FILTER

In [ ]:
numeros = [5,8,-2,-24,9,78,45]

In [ ]:
def numero_es_positivo(num):
  if num >=0:
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_positivo,numeros))

[5, 8, 9, 78, 45]

Qué está pasando aquí? filter funciona de la siguiente manera:

Recibe una función que regrese True o False.
Recibe una lista.
Va recorriendo la lista elemento por elemento y le aplica la función a cada elemento de la lista.
Cada vez que la función regresa True, filter agrega ese elemento a una nueva lista (la que vamos a obtener de regreso). Cada vez que la función regresa False, filter descarta ese elemento y no lo agrega a la nueva lista.

In [ ]:
from ast import Return
def numero_es_negativo(num):
  if num < 0:
    return True
  else:
    return False

In [ ]:
list(filter(numero_es_negativo,numeros))

[-2, -24]

In [ ]:
print(f'{(""):8}|{("True"):8}|{("False"):8}')
print(f'{("True"):8}|{(True and True):8}|{(True and False)}')
print(f'{("False"):8}|{(False and False)}')

        |True    |False
True    |       1|False
False   |False

In [ ]:
def numero_es_par(num):
  if num % 2==0:
    return True
  else:
    return False

In [ ]:
def numero_es_mayor_a_50(num):
  if num >50:
    return True
  else:
    return False

In [ ]:
def num_par_y_mayor_50(num):
  return numero_es_par(num) and numero_es_mayor_a_50(num)

In [ ]:
list(filter(numero_es_mayor_a_50,numeros))

[78]

In [ ]:
list(filter(num_par_y_mayor_50,numeros))

[78]

In [ ]:
#tupla
#no se puede modificar a diferencia de la lista
tupla = (1,2,3,4)
tupla

(1, 2, 3, 4)