<a href="https://colab.research.google.com/github/lizbeth-cortes/Data_science/blob/main/M1_S2_Work_Pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejemplo 4: Tipos de datos

In [ ]:
var_boolean= True
print(var_boolean)
print(type(var_boolean))
print("\n")

True
<class 'bool'>

In [ ]:
var_float=4.4



---

Para realizar un comentario con múltiples líneas se hace lo siguiente:

In [ ]:
print("""
dfdfdfdf
dfdfdfdf
dfdfdfdf
dfdfdfdf
""")

hola
so
que

Para realizar una tabulación

In [ ]:
print("Tabulación")
print("\t Hola")

Tabulación
	 Hola

#Ejemplo 5.Interpolación de strings

In [ ]:
var_1 = 15.3
var_2 = 23.4

#Esta forma de imprimir es válida, pero
#con proyecttos más grandes es mucho más dificil
# de mantener
resultado = var_1 + var_2
print("La suma de estos dos valores es:")
print(resultado)

La suma de estos dos valores es:
38.7

In [ ]:
#Esta es la interpolación de string, en donde se permite
#agregar variables dentro del string
print(f"La suma de {var_1} y {var_2} es igual a {resultado}")

La suma de 15.3 y 23.4 es igual a 38.7

#Ejemplo 6. Operadores de combianción

In [ ]:
var_1 = 34
var_2 = 12
var_3 = 23.24
var_4 = 23.56
var_5 = "OK"
var_6 = "ERROR"
var_7 = True
var_8 = False

In [ ]:
var_1 > var_2

True

In [ ]:
var_1 < var_2

False

In [ ]:
var_3 <= var_4

True

In [ ]:
var_5 == var_6

False

In [ ]:
#match para diferentes casos
x = 5
match x:
  case 1:
    print("UNO")
  case 2:
    print("DOS")
  case 3:
    print("TRES")
  case 4:
    print("CUATRO")
  case 5:
    print("CINCO")

CINCO